@font-face{
    src: url(../font/ninja_naruto/njnaruto.ttf);
    font-family: 'njnaruto';
    font-weight: normal;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('../img/Konohagakure.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.box_center{
    align-content: center;
    height: 40vh;
    width: 100vw;
    background-color: #f45d22;
    margin-top: 30vh;
    border: 2px solid #333;
    border-radius: 15px;
}

.btn_game{
    height: 7vh;
    width: 20vw;
    margin: 2%;
    border: 4px block black;
    border-radius: 7px;
    color: #333;
    font-family: 'njnaruto';
}

.btn_game:hover{
    background-color: #333;
    color: #f45d22;
    border: 2px solid #DDDDDD;

}

.slt_game{
    background-color: #DDDDDD;
    height: 7vh;
    width: 20vw;
    margin: 2%;
    border: 4px block black;
    border-radius: 7px;
    color: #333;
    font-family: 'njnaruto';
}

.slt_game:hover {
    background-color: #333;
    color: #f45d22;
    border: 2px solid #DDDDDD;
}

.box_btn{
    align-content: center;
    width: 69vw;
    height: 30%;
    display: flex;
}
