.box{
    border: 6px double black;
    height: 64vh;
    width: 25vw;
    border-radius: 15px;
    align-items: center;
    padding: 30px;
}
.input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    margin: 20px;
    outline: none;
  }
  input[type=text]:focus {
    width: 24vw;
  }
  input[type=text] {
    transition: width 0.8s ease-in-out;
  }