* {
    box-sizing: border-box;
  }

  @font-face{
    src: url(../font/ninja_naruto/njnaruto.ttf);
    font-family: 'njnaruto';
    font-weight: normal;
}

html{
  scroll-behavior: smooth;
}
  
  body {
    padding: 10px;
    background: #0D0D0D;
  }
  
  h2  {
    font-family: 'njnaruto';
  }

  h3{
    font-family: 'njnaruto';
  }
  
  h5  {
    font-family: 'njnaruto';
  }

  /* Header/ Cabeçalho */
  .header {
    padding: 20px;
    text-align: center;
    background-color: #333;
    border: 2px solid #f45d22;
    color: #d9d9d9;
    border-radius: 15px 15px 0 0;

  }
  
  .header h1 {
    font-size: 50px;
    font-family: 'njnaruto';
  }
  .img-header{
    float: left;
    height: 110px;
  }
  .img-header2{
    float: right;
    height: 110px;
  }
  
  /* estilização da nav top */
  .topnav {
    overflow: hidden;
    background-color: #333;
    border: 1px solid #f45d22;
    border-radius: 0 0 15px 15px;
  }
  
  /* Estilizando os links da nav top */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'njnaruto';
  }
  
  /* Colocando um hover na nav */
  .topnav a:hover {
    background-color: #f45d22;
    color: black;
  }
  
  /* Criação de duas colunas utilizando o float para melhor estilização */
  /* Coluna esquerda */
  .coluna-esquerda {   
    float: left;
    width: 75%;
  }
  
  /* coluna direita */
  .coluna-direita {
    float: left;
    width: 25%;
    background-color: #0D0D0D;
    padding-left: 20px;
  }
  
  /* imagem */
  .img-card {
    height: 400px;
    width: 100%;
  }

  .img-git{
    height: 40px;
    cursor: pointer;
  }
  .img-git:hover{
    background: #f45d22;
    border-radius: 40px;
  }
  
  /* card de conteudo */
  .card {
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #f45d22;
    color: #d9d9d9;
  }
  
  /* Limpando os floats dps das colunas */
  .box:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Criando um btn scroll */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #f45d22;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    height: 40px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
  .icon{
    height: 20px;
    cursor: pointer;
  }
  
  /* Deixando as colunas responsivas */
  @media screen and (max-width: 800px) {
    .coluna-esquerda, .coluna-direita {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* deixando totalmente responsivo */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }