* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #0D0D0D;
  }

.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    border: 2px solid #f45d22;
}


/* Estilizando os links da nav top */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
}


/* Colocando um hover na nav */

.topnav a:hover {
    background-color: #f45d22;
    color: black;

}

.topnav a:active{
    box-shadow: 0 1px #000000;
    transform: translateY(5px);
    border-radius: 10px 10px 0px 0px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn{
    width: 100%;
    background-color: #f2f2f2;
    color: #0D0D0D;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #f45d22;
  }
  
  .btn:active{
    box-shadow: 0 1px #000000;
    transform: translateY(5px);
    border-radius: 10px 10px 0px 0px;
}
  
  .box {
    border-radius: 5px;
    background-color: #333;
    padding: 20px;
    margin-top: 100px;
    border: 2px solid #f45d22;
  }
  label{
      color: #f2f2f2;
  }